@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

.score{
    margin-bottom: 5px;
    margin-right: 170vh;
    font-size: 20px;
    font-family: 'Finger Paint', cursive;
}

.note{
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Finger Paint', cursive;
}